.form__close-button {
  background: transparent center url(../../../images/close-button_size_m.svg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: 0.3s;
}

.form__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .form__close-button {
    width: 26px;
    height: 26px;
    background: transparent center url(../../../images/close-button_size_s.svg);
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@media screen and (max-width: 500px) {
  .form__close-button {
    right: 5px;
  }
}